<template lang="pug">
q-page(padding)

  // List
  section(v-if="view === 'list'")
    .q-pa-md
      c-table(icon="bolt" :title="$t('power')" :rows="rows" :columns="columns" :loading="loading"
        @request="onRequest" @add="newPower" @edit="editPower" @view="viewPower")

  // Edit
  section(v-if="view === 'new' || view === 'edit'")
    q-card
      q-card-section
        .text-h6 {{ view === 'edit' ? $t('general_edit') : $t('general_new') }} {{ $t('power') }}
        .text-subtitle2 {{ $t('general_complete_the_data') }}
      q-separator

      q-card-section.flex.flex-center
        q-form(@submit='onSubmit' color='positive' :style="{'width': '60%'}")
          q-card(flat bordered)
            q-card-section

              .q-gutter-md
                .q-pa-md
                  .q-gutter-md.row
                    .col
                      c-input(v-model='power.name' :label="$t('power_name')" :hint="$t('page_field_hint', { entity: $t('power_name') })" required autofocus)

            q-separator

            q-card-actions(align='around')
              q-btn(@click='cancelEdit' flat) {{ $t('general_back') }}
              q-btn(type='submit' flat color='positive' :loading='loading') {{ $t('general_save') }}
              q-space(v-if="view === 'edit'")
              q-btn(v-if="view === 'edit'" @click.prevent="onDelete" flat color="negative" :loading="loading")  {{ $t('general_delete') }}

  // Vista de visualización
  section(v-if="view === 'view'")
    q-card
      q-card-section
        .text-h6 {{ $t('general_view') }} {{ $t('power') }}

        .q-pa-md
          .q-gutter-md.row
            .col
              .text-h6 {{ $t('power_name') }}
              p {{power.name}}

      q-separator

      q-card-actions(align="around")
        q-btn(@click="view = 'list'" flat) {{ $t('general_back') }}
        //q-btn(flat color="positive") $t('general_accept')

</template>

<script>
import { useQuasar } from 'quasar'
import { onMounted, ref, computed } from 'vue'
import { api } from 'boot/axios'
import { i18n } from 'boot/i18n.js'

const $t = i18n.global.t

const clearPower = () => {
  return {
    name: null
  }
}

let instanceRef = null
let previousValues = {}

export default {
  name: 'PowerPage',

  setup() {
    const $q = useQuasar()

    const view = ref('list')
    const rows = ref([])
    const loading = ref(false)

    // Ref to mantain the pagination state when the c-table is removed from the dom (with v-if)
    const pagination = ref({
      sortBy: '',
      descending: true,
      page: 1,
      rowsPerPage: 10,
      rowsNumber: 0
    })
    const power = ref(clearPower())

    // for date values ==> field: row => date.formatDate(row.fecha_alta, 'YYYY-MM-DD'),
    // for transitive values ==> field: row => row.tipo_documento?.valor,

    const columns = computed(() => [
      {
        name: 'name',
        label: $t('power_name'),
        align: 'left',
        field: 'name',
        type: 'string',
        sortable: true
      },
      {
        name: 'action',
        align: 'center',
        label: $t('general_actions'),
        field: 'action'
      }
    ])

    const newPower = () => {
      power.value = clearPower()
      view.value = 'new'
    }

    const editPower = async (instance) => {
      instanceRef = instance
      previousValues = { ...instance }
      power.value = instance
      view.value = 'edit'
    }

    const viewPower = async (instance) => {
      power.value = instance
      view.value = 'view'
    }

    const cancelEdit = _ => {
      if (instanceRef) {
        Object.assign(instanceRef, previousValues)
      }
      view.value = 'list'
    }

    const updatePagination = (newPagination, total) => {
      const { page, rowsPerPage, sortBy, descending } = newPagination
      pagination.value.page = page
      pagination.value.rowsPerPage = rowsPerPage
      pagination.value.sortBy = sortBy
      pagination.value.descending = descending
      pagination.value.rowsNumber = total
    }

    const onRequest = async (props) => {
      const { page, rowsPerPage, sortBy, descending } = props.pagination
      const filter = props.filter

      // Merge params in object for backend
      const paramsBackend = { page, rowsPerPage, sortBy, descending, jsondepth: 1 }

      // Init loading
      loading.value = true

      try {
        const response = await api.post('/search/power', { name: filter }, { params: paramsBackend })
        // assign received rows
        rows.value = response.data.items
        // update local pagination object
        updatePagination(props.pagination, response.data.total)
      } catch (error) {
        $q.notify({
          type: 'negative',
          message: 'Ocurrió un error al obtener lista de Power'
        })
      } finally {
        // Finish loading
        loading.value = false
      }
    }

    const goToList = _ => {
      // Se redirecciona a la lista
      view.value = 'list'
      onRequest({
        pagination: pagination.value,
        filter: undefined
      })
    }

    const onSubmit = async () => {
      loading.value = true
      try {
        let message
        if (view.value === 'new') {
          await api.post('/power', power.value)
          message = $t('page_added_correctly_message', { entity: $t('power') })
        } else {
          await api.put(`/power/${power.value.id}`, power.value)
          message = $t('page_edited_correctly_message', { entity: $t('power') })
        }
        $q.notify({ type: 'positive', message })
        goToList()
      } catch (error) {
        console.log(error)
        $q.notify({
          type: 'warning',
          message: $t('page_save_error_message', { entity: $t('power') })
        })
      } finally {
        loading.value = false
      }
    }

    const onDelete = async () => {
      $q.dialog({
        title: $t('page_delete_dialog_title'),
        message: $t('page_delete_dialog_message', { entity: $t('power') }),
        cancel: true,
        persistent: true
      }).onOk(async _ => {
        loading.value = true
        try {
          await api.delete(`/power/${power.value.id}`)
          $q.notify({ type: 'positive', message: $t('page_delete_notify_message', { entity: $t('power') }) })
          goToList()
        } catch (error) {
          console.log(error)
          $q.notify({
            type: 'warning',
            message: $t('page_delete_notify_error_message', { entity: $t('power') })
          })
        } finally {
          loading.value = false
        }
      })
    }

    onMounted(async () => {
      onRequest({
        pagination: pagination.value,
        filter: undefined
      })
    })

    return {
      view,
      columns,
      rows,
      power,
      loading,
      pagination,
      newPower,
      editPower,
      viewPower,
      cancelEdit,
      onSubmit,
      onRequest,
      onDelete
    }
  }
}
</script>
